h1{
    font-size: 63px;
    color: #080808;
    padding: 20px;
    color: rgb(19, 33, 94);
    text-align: center;
}
h2{
    font-size: 54px;
    color: #fcfcfc;
    font-weight: 600;
}
.carousel-caption h5{
    font-size: 80px;
    color: #94230f;
    text-shadow: 2px 2px 2px black;
}